body{
    background-color: rgba(0, 170, 255, 0.562);
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.225);

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}